
*{
  margin:0;
  padding:0;
  text-decoration: none;
  // border: 1px solid red;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../assets/fonts/monse.ttf") format("truetype");
}

@font-face {
  font-family: 'Srisakdi', cursive;
  src: url("../assets/fonts/font2.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
}
.contairner {
  width: 1300px;
}

//MENU STYLE
.desktopMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  background-color: #D2DCE1;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  li {
    // border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    font-size: 20px;
    display: inline;
    margin-right: 20%;
    margin-left: 10%;
    a {
      color: black;
    }
    a:hover {
      color: white;
    }
  }
}

.heroSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/images/hero.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: flex;
  width: 75%;
  height: 50%;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 5vw;
  background-color: transparentize(white,0.5);
}

.ammenities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/pattern.png");
  height: 950px;
  background-repeat: no-repeat;
  width: 100%;
}
.ammenities-title {
  display: flex;
  width: 80%;
  background-color: transparentize(white,0.15);
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.ammenity-one{
  color: black;
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 5%;
  background-color: transparentize(white,0.15);
  img {
    width: 28px;
    height: 28px;
    margin-right: 5%;
  }
  h2 {
    margin-right: 3%;
    width:25%;
  }
  h4 {
    width:60%;
  }
}

//vertical lines in the ammenities module
.vl {
border-left: 1px solid black;
height: 100%;
margin-right: 3%;
}

//MEMBERSHIPS STYLE
.memberships-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}
.memberships {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("../assets/images/common.png");
  height: 650px;
  background-repeat: no-repeat;
  width: 100%;
}

.membership-one {
  padding: 3%;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 2%;
  background-repeat: no-repeat;
  background-image: url("../assets/images/diamond2.png");
  h1  {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
  }
  p {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
.membership-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 3%;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("../assets/images/diamond1.png");
  h1  {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
  }
  p {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 10%;

  }
}
